<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COVID_19_DIAGNOSTIC_SYSTEM.Properties.Settings.covid19_dbConnectionString" connectionString="Data Source=DESKTOP-AOCSBCD;Initial Catalog=covid19_db;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
